<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="container mt-5">
    <div class="col-md-4 mx-auto">
      <h2 class="text-center">Đăng nhập</h2>
      <form action="/login" method="POST">
        <input type="email" name="email" required placeholder="Email" />
        <input
          type="password"
          name="password"
          required
          placeholder="Mật khẩu"
        />
        <button type="submit">Đăng nhập</button>
      </form>
    </div>
  </body>
</html>
